<md-toolbar layout="row" layout-align="center center" style="min-width:35vw">
    Krepšių etikečių spausdinimas
</md-toolbar>
<md-content layout="column">
    <div class="md-padding" layout="column" layout-align="center center">
        <label>{{text}}</label>
        <md-datepicker ng-model="date" ng-change="change()">
            <input type="text"/>
            
        </md-datepicker>
    </div>
    <md-divider></md-divider>
    <div layout="row" layout-align="space-between center">
        <md-button ng-click="cancel()">Atšaukti</md-button>
        <md-button class="md-raised md-primary" ng-disabled="!next" ng-click="goNext()">Spausdinti</md-button>
    </div>
</md-content>
