<md-toolbar layout="row" layout-align="end center">
    <md-button layout="row" layout-align="center center" ng-click="closeDialog()">
        <i class="material-icons">close</i>
    </md-button>
</md-toolbar>
<div layout="column">
    <table class="ingredients_table shrink">
        <colgroup>
            <col span="1" style="width: 15%;">
            <col span="1" style="width: auto;">
            <col span="1" style="width: auto;">
            <col span="1" style="width: auto;">
            <col span="1" style="width: auto;">
            <col span="1" style="width: auto;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: auto;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: auto;">
            <col span="1" style="width: auto;">
        </colgroup>
        <thead>
            <tr>
                <th class="pointer">Vardas Pavardė *</th>
                <th class="pointer">Nuo *</th>
                <th class="pointer">Iki *</th>
                <th class="pointer">Miesto kodas *</th>
                <th class="pointer">Adresas *</th>
                <th class="pointer">Pastabos kurjeriui</th>
                <th class="pointer">Kodas</th>
                <th class="pointer">PPD</th>
                <th class="pointer">Aukštas *</th>
                <th class="pointer">Telefonas *</th>
                <th class="pointer">Pastabos gamybai</th>
                <th class="pointer">Email *</th>
            </tr>
        </thead>
        <tbody>
            <!--New temp customer-->
            <tr>
                <th>
                    <div flex layout="row" layout-align="space-between">
                        <md-input-container style="margin: -5px 0;">
                            <input type="text" ng-model="customer.Vardas" aria-label="Vardas" required>
                        </md-input-container>
                        <md-input-container style="margin: -5px 0;">
                            <input type="text" ng-model="customer.Pavarde" aria-label="Pavarde" required>
                        </md-input-container>
                    </div>
                </th>
                <th>
                    <md-select ng-model="customer.Laikas_Nuo" style="margin-top: -23px;margin-bottom: 0;" aria-label="Nuo"
                        required>
                        <md-option ng-value="from" ng-repeat="from in deliveryTimeFrom" ng-click="getTimeTo(from, customer)">{{
                            from }}
                        </md-option>
                    </md-select>
                </th>
                <th>
                    <md-select ng-model="customer.Laikas_Iki" style="margin-top: -23px;margin-bottom: 0;" aria-label="Iki"
                        required>
                        <md-option ng-value="to" ng-repeat="to in customer.deliveryTimeToTemp">{{ to }}</md-option>
                    </md-select>
                </th>
                <th>
                    <md-select ng-model="customer.Miestas" style="margin-top: -23px;margin-bottom: 0;" aria-label="Miestas"
                        required>
                        <md-option ng-value="code" ng-repeat="code in cityCodes">{{ code }}</md-option>
                    </md-select>
                </th>
                <th>
                    <md-input-container style="margin: -5px 0;">
                        <input type="text" ng-model="customer.Adresas" aria-label="Adresas" required>
                    </md-input-container>
                </th>
                <th>
                    <md-input-container style="margin: -5px 0;">
                        <input type="text" ng-model="customer.Pastabos_Kurjeriui" aria-label="Kurjeriui">
                    </md-input-container>
                </th>
                <th>
                    <md-input-container style="margin: -5px 0;">
                        <input type="text" ng-model="customer.Kodas" aria-label="Kodas">
                    </md-input-container>
                </th>
                <th>
                    <md-checkbox ng-model="customer.PPD" aria-label="PPD"></md-checkbox>
                </th>
                <th>
                    <md-input-container style="margin: -5px 0;">
                        <input type="text" ng-model="customer.Aukstas" aria-label="Aukstas" required>
                    </md-input-container>
                </th>
                <th>
                    <md-input-container style="margin: -5px 0;">
                        <input type="text" ng-model="customer.Telefonas" aria-label="Telefonas" required>
                    </md-input-container>
                </th>
                <th>
                    <md-input-container style="margin: -5px 0;">
                        <input type="text" ng-model="customer.Pastabos_Gamybai" aria-label="Gamybai">
                    </md-input-container>
                </th>
                <th>
                    <md-input-container style="margin: -5px 0;">
                        <input type="text" ng-model="customer.Email" aria-label="Email" required>
                    </md-input-container>
                </th>
            </tr>
        </tbody>
    </table>

    <div layout="row" layout-align="end">
        <md-button ng-click="updateCustomer(customer.ID)" class="md-raised md-primary">IŠSAUGOTI</md-button>
    </div>
</div>