<div layout="column">
  <div flex="50" layout="column" layout-gt-md="row">
    <md-card layout="column" flex="100">
      <div layout-gt-sm="row" layout-align-gt-sm="space-between center" layout="column">
        <div class="material_input_container" flex="25">
          <input class="input-bolder" ng-model="$order.number" />
          <label>Užsakymo numeris</label>
        </div>
        <div class="material_input_container" flex="25">
          <input ng-model="$order.date" type="date">
          <label>Užsakymo data</label>
        </div>
        <div class="material_input_container" flex="25">
          <select ng-model="$order.status">
            <option ng-value="0">Vykdomas</option>
            <option value="1">Atšauktas</option>
          </select>
          <label>statusas</label>
        </div>
        <div class="material_input_container" flex="25">
          <span>&euro;39,90</span>
          <label>Kaina Eur</label>
        </div>
      </div>
      <div layout-gt-sm="row" layout-align-gt-sm="space-between center" layout="column">
        <div class="material_input_container" flex="5">
          <span class="input-bolder">KLIENTAS:</span>
        </div>
        <div class="material_input_container" flex="25">
          <span>{{$order.client.name}}</span>
          <label>TEL: {{$order.client.phone}}</label>
        </div>
        <div class="material_input_container" flex="25" layout="row" layout-align="space-between center">
          <md-button class="md-icon-button" layout="row" layout-align="center center" ng-click="client.findClient()">
            <i class="material-icons">search</i>
          </md-button>
          <md-button class="md-icon-button" layout="row" layout-align="center center" ng-click="client.createNew()">
            <i class="material-icons">add</i>
          </md-button>
          <div class="material_input_container" flex>
            <span>{{$order.client.contactPerson}}</span>
            <label>KONTAKTINIS ASMUO</label>
          </div>
        </div>
        <div class="material_input_container" flex="25">
          <span>{{$order.client.billingAdress}}</span>
          <label>ADRESAS SĄSKAITAI</label>
        </div>
      </div>
      <div layout-gt-sm="row" layout-align-gt-sm="space-between center" layout="column">
        <div class="material_input_container" flex="20">
          <span>{{$order.client.paymentType}}</span>
          <label>MOKĖJIMO TIPAS</label>
        </div>
        <div class="material_input_container" flex="20">
          <span>{{$order.client.paymentConditions}}</span>
          <label>MOKĖJIMO SĄLYGOS</label>
        </div>
        <div class="material_input_container" flex="20">
          <select>
            <option>Nėra</option>
            <option ng-repeat="discount in $order.client.discounts">{{discount}}</option>
          </select>
          <label>NUOLAIDA</label>
        </div>
        <div class="material_input_container" flex="20">
          <input ng-model="$order.status" value="" />
          <label>NUOLAIDOS KODAS</label>
        </div>
        <div class="material_input_container" flex="20">
          <span>{{$order.client.vendor}}</span>
          <label>PARDAVĖJAS</label>
        </div>
      </div>
    </md-card>
    <!--md-card layout="column" flex="50">
            <md-subheader><strong>Klientas</strong></md-subheader>
            <div layout-gt-sm="row" layout="column">
                <div class="material_input_container" flex="50">
                    <span>{{$order.client.name}}</span>
                    <label>Vardas Pavardė</label>
                </div>
                <div class="material_input_container" flex="50">
                    <span>{{$order.client.address}}</span>
                    <label>Užsakymo data</label>
                </div>
            </div>
            <div layout-gt-sm="row" layout="column">
                <div class="material_input_container" flex="50">
                    <span>Bankiniu pavedimu</span>
                    <label>mokėjimo tipas</label>
                </div>
                <div class="material_input_container" flex="50">
                    <span>14 d. atinėjimas</span>
                    <label>mokėjimo sąlygos</label>
                </div>
            </div>
            <div class="material_input_container" >
                <span>UAB 7Pack</span>
                <label>pardavėjas</label>
            </div>
            <md-divider></md-divider>
            <div layout-gt-sm="row" layout="column">
                <div class="material_input_container" flex="50">
                    <select >
                        <option >Nėra</option>
                        <option >10%</option>
                    </select>
                    <label>nuolaida</label>
                </div>
                <div class="material_input_container" flex="50">
                    <input/>
                    <label>nuolaidos kodas</label>
                </div>
            </div>
            <div class="material_input_container" >
                <input>
                <label>Komentaras</label>
            </div>
            <div layout="row">
                <md-button layout="row" layout-align="center center" flex >
                    keisti klientą
                </md-button>
                <md-button layout="row" layout-align="center center" ng-click="client.createNew()" flex>
                    naujas klientas
                </md-button>
            </div>
        </md-card-->
  </div>

  <md-card flex="50" layout="column">
    <md-subheader>
      <div layout="row" layout-align="space-between center">
        <span>Užsakymo detalizacija</span>
        <div layout="row">
          <md-button class="md-icon-button" ng-click="null">
            <i class="material-icons">delete</i>
          </md-button>
          <md-button class="md-icon-button" ng-click="product.add()">
            <i class="material-icons">add</i>
          </md-button>
          <md-button class="md-raised md-primary" ui-sref="salesData.orderConfirmation({id:1234})">Tvirtinti užsakymą</md-button>
        </div>
      </div>
    </md-subheader>
    <table class="md_table text-small">
      <thead>
        <tr>
          <th>
            <input type="checkbox">
          </th>
          <th>Tipas</th>
          <th>Produktas</th>
          <th>Klientas</th>
          <th>Pristatymo adresas</th>
          <th>Kiekis</th>
          <th>Trukmė</th>
          <th>Pirma diena</th>
          <th>Kaina Vnt.</th>
          <th>Suma</th>
          <th>Nuolaida</th>
          <th>Galutinė</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
          <th>
            <input type="checkbox">
          </th>
          <th>Patiekalas</th>
          <th>
            <strong>813 | Ryžių makaronai su Tofu</strong>
          </th>
          <th>
            <span>{{$order.client.name}}</span>
          </th>
          <th>
            <span>{{$order.client.address}}</span>
          </th>
          <th>
            <input class="material_input" type="number" ng-model="$order.products[$index].qty">
          </th>
          <th>
            <input class="material_input" type="number" ng-model="$order.products[$index].days">
          </th>
          <th>
            <input class="material_input" type="date" ng-model="$order.products[$index].date">
          </th>
          <th>7,99 Eur</th>
          <th>39,95 Eur</th>
          <th>-</th>
          <th>39,95 Eur</th>
        </tr>
      </tbody>
    </table>
    <div layout="row" layout-align="end center" class="order_sum">
      <span>Viso: </span>
      <strong>390,50 Eur</strong>
    </div>
  </md-card>

</div>

<div layout="row" layout-align="end center">
  <md-button class="md-raised md-primary" ui-sref="salesData.orderConfirmation({id:1234})">Tvirtinti užsakymą</md-button>
</div>
